{% load static %}

<!DOCTYPE html>
<html lang="en" theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% if title %}
            <title>{{ title }} // Notewell</title>
        {% else %}
            <title>Notewell</title>
        {% endif %}

        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        {% block fonts %}
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet" />
        {% endblock fonts %}

        {% block ionicons %}
            <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
        {% endblock ionicons %}
        <link href="{% static 'notes/css/base.css' %}" rel="stylesheet" />
        {% block head %}{% endblock head %}
    </head>
    <body>
        <div id="app">
            {% block header %}
                <header class="header">
                    <div class="header__container">
                        <nav class="nav">
                            <div class="nav__hamburger">
                                <span class="nav__hamburger-open">
                                    <i class="icon ion-md-menu"></i>
                                </span>
                                <span class="nav__hamburger-close">
                                    <i class="icon ion-md-close"></i>
                                </span>
                            </div>

                            <a class="nav__link" href="{% url 'notes:index' %}">
                                <!--
                                    so the logo is taken from freepik and they
                                    insist that I attribute them, but
                                    this is a placehoder, sooo...
                                -->
                                <img
                                    src="{% static 'notes/img/logo.png' %}"
                                    alt="Logo"
                                    class="nav__logo"
                                />
                            </a>

                            <ul class="nav__list">
                                {% block nav_list %}{% endblock nav_list %}
                                {% if not user.is_authenticated %}
                                    <li class="nav__item nav__item--move-right">
                                        <a class="nav__link" href="{% url 'accounts:register' %}">Sign up</a>
                                    </li>
                                    <li class="nav__item">
                                        <a class="nav__link" href="{% url 'accounts:login' %}">Log in</a>
                                    </li>
                                {% else %}
                                    <li class="nav__item nav__item--move-right">
                                        <a class="nav__link" href="#">
                                            {{ user.username }}
                                            <i class="icon ion-md-arrow-dropdown"></i>
                                        </a>
                                        <ul class="nav__sub-menu">
                                            {% if user.is_staff %}
                                                <li class="nav__item nav__item--sub">
                                                  <a class="nav__link nav__link--sub-menu" href="{% url 'admin:index' %}">Admin</a>
                                                </li>
                                            {% endif %}
                                            <li class="nav__item nav__item--sub">
                                              <a class="nav__link nav__link--sub-menu" href="{% url 'accounts:logout' %}">Log out</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </header>
            {% endblock header %}
        
            {% block content %}{% endblock content %}
            
            {% block footer %}
                <footer class="footer">
                    <div class="footer__wrapper">
                        <div class="footer__row">
                            <p class="footer__text footer__text--bold">
                                &copy; 2021 Notewell
                            </p>
                        </div>
                        <div class="footer__row">
                            {% comment %} TODO: do url tmpl {% endcomment %}
                            <a
                                href="https://www.gnu.org/licenses/agpl-3.0.html"
                                class="footer__text footer__text--link"
                                target="_blank"
                            >
                                AGPL-3.0
                            </a>
                            <a
                                href="https://github.com/false-positive/notewell"
                                class="footer__text footer__text--link"
                                target="_blank"
                            >
                                Source Code
                            </a>
                            <a
                                href="/weblabels/"
                                data-jslicense="1"
                                class="footer__text footer__text--link"
                            >
                                JavaScript Licenses
                            </a> 
                        </div>
                    </div>
                </footer>
            {% endblock footer %}
        </div>

        <script src="{% static 'notes/js/nav.js' %}"></script>
        {% block script %}{% endblock script %}
    </body>
</html>
