{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{ title }} // Notewell</title>
    {% else %}
    <title>Notewell</title>
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
    <link href="{% static 'notes/css/base.css' %}" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="container">
            <nav>
                <div class="menu-icons">
                    <i class="icon ion-md-menu"></i>
                    <i class="icon ion-md-close"></i>
                </div>

                <img src="" alt="Logo" class="logo">


                <ul class="nav-list">
                    <li><a href="{% url 'notes:index' %}">Public</a></li>
                    <li><a href="{% url 'notes:my' %}">My</a></li>
                    <li>
                        <a href="#">
                            Subjects
                            <i class="icon ion-md-arrow-dropdown"></i>
                        </a>
                        <ul class="sub-menu">
                            {% for category in categories %}
                                {% if not category.parent %}
                                <li>
                                    <a href="{% url "notes:category" category.get_full_path %}">
                                        {{ category.name }}
                                        {% if category.children.all %}
                                            <i class="icon ion-md-arrow-dropdown"></i> 
                                        {% endif %}
                                    </a>
                                        {% if category.children.all %}
                                            <ul class="sub-menu">
                                                {% include "notes/menu.html" with categories=category.children.all %}
                                            </ul>
                                        {% endif %}
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="move-right"><a href="{% url 'accounts:register' %}">Sign up</a></li>
                    <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                    {% else %}
                    <li class="move-right">
                        <a href="#">
                            {{ user.username }}
                            <i class="icon ion-md-arrow-dropdown"></i> 
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="space-block"></div>

    
    <h1>{% block title %}{{ title }}{% endblock title %}</h1>



        {% comment %} 
        <h1>Notes</h1>
     {% endcomment %}

    {% block content %}{% endblock content %}

    <script src="{% static 'notes/js/nav.js' %}"></script>
</body>
</html>