{% extends 'notes/list_page.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'notes/css/note_list.css' %}" />
{% endblock head %} {% block content %}

<!-- <h2>
  you are currently <strong>viewing</strong> category <em>{{ title }}</em>
</h2>

<h2>Notes:</h2> -->

<section class="section-notes">
    <ul class="note-list">
        {% for note in notes %}
        <li>{% include 'notes/components/note.html' %}</li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
