{% extends 'notes/base.html' %}

{% load render_vite_bundle %}
{% load render_initial_editor_data %}

{% block fonts %}
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
{% endblock fonts %}

{% block icons %}{% endblock icons %}

{% block styles %}
    <style>
     html,
     body {
         margin: 0;
         height: 100%;
     }
    </style>

{% endblock styles %}

{% block script_head %}
    {% if debug %}
        <script type="module" src="http://localhost:3000/@vite/client"></script>
        <script type="module">
            import RefreshRuntime from 'http://localhost:3000/@react-refresh'
            if (RefreshRuntime) {
                RefreshRuntime.injectIntoGlobalHook(window)
                window.$RefreshReg$ = () => { }
                window.$RefreshSig$ = () => (type) => type
                window.__vite_plugin_react_preamble_installed__ = true
            }
        </script>
    {% endif %}
    {% comment %}
    <script type="application/json" id="nw-editor-initial-data">
        {% render_initial_editor_data note=note token_pair=token_pair open_dialog=open_dialog %}
    </script>
    {% endcomment %}
{% endblock script_head %}

{% block header %}{% endblock header %}

{% block script %}
    {% if debug %}
        <script type="module" src="http://localhost:3000/main.tsx"></script>
    {% else %}
        {% render_vite_bundle %}
    {% endif %}
{% endblock script %}
