{% extends 'notes/base.html' %}

{% load render_vite_bundle %}

{% block head %}
  {% if debug %}
    <script type="module" src="http://localhost:3000/@vite/client"></script>
  {% endif %}
{% endblock head %}

{% block ioniconns %}
  {% comment %}
    Not loading ionicons, Svelte does that.
  {% endcomment %}
{% endblock ioniconns %}

{% block header %}{% endblock header %}

{% block script %}
  {% if debug %}
    <script type="module" src="http://localhost:3000/main.js"></script>
  {% else %}
    {% render_vite_bundle %}
  {% endif %}
{% endblock script %}