{% extends 'notes/base.html' %}

{% load render_vite_bundle %}
{% load render_initial_editor_data %}

{% block head %}
    {% if debug %}
        <script type="module" src="http://localhost:3000/@vite/client"></script>
    {% endif %}
    <script type="application/json" id="nw-editor-initial-data">
        {% render_initial_editor_data note=note token_pair=token_pair %}
    </script>
{% endblock %}

{% block ioniconns %}
    {% comment %}
        Not loading ionicons, Svelte does that.
    {% endcomment %}
{% endblock ioniconns %}

{% block header %}{% endblock header %}

{% block script %}
    {% if debug %}
        <script type="module" src="http://localhost:3000/main.js"></script>
    {% else %}
        {% render_vite_bundle %}
    {% endif %}
{% endblock script %}