{% extends 'notes/list_page.html' %}
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'notes/css/note_list.css' %}" />
{% endblock head %} 

{% block content %}
{% comment %} <h2>put whatever you want here :)</h2> {% endcomment %}

{% comment %} <h3>
  here are all the notes that exist (you probably won't have access to all of
  them ):
</h3> {% endcomment %}

<section class="section-notes">
    {% for note in notes %} 
        {% include 'notes/components/note.html' %}
    {% endfor %}
</section>
{% endblock content %}