{% for category in categories %}
    <li class="nav__item nav__item--sub">
        <a class="nav__link" href="{% url "notes:category" category.get_full_path %}">
            {{ category.name }}
            {% if category.children.all %}
                <i class="icon ion-md-arrow-dropdown"></i> 
            {% endif %} 
        </a>
        {% if category.children.all %}
            <ul class="nav__sub-menu">
                {% include "notes/menu.html" with categories=category.children.all %}
            </ul>
        {% endif %}
    </li>
{% endfor %}

