{% extends 'notes/base.html' %}
{% load static %}
{% load mptt_tags %} 

{% block head %}
    <link rel="stylesheet" href="{% static 'notes/css/note_list.css' %}" />
{% endblock head %} 

{% block nav_list %}
    <li class="nav__item"><a class="nav__link" href="{% url 'notes:index' %}">All</a></li>
    <li class="nav__item"><a class="nav__link" href="{% url 'notes:my' %}">My</a></li>
    <li class="nav__item">
        <a class="nav__link" href="#">
            Subjects
            <i class="icon ion-md-arrow-dropdown"></i>
        </a>
        <ul class="nav__sub-menu">
            {% recursetree categories %}
                <li class="nav__item nav__item--sub">
                    <a class="nav__link" href="{% url 'notes:category' node.full_path %}">
                        {{ node.name }}
                        {% if not node.is_leaf_node %}
                            <i class="icon ion-md-arrow-dropdown"></i>
                        {% endif %}
                    </a>
                    {% if not node.is_leaf_node %}
                        <ul class="sub-menu">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li> 
            {% endrecursetree %}
        </ul>
    </li>
    <li>
        <form method="GET" action="{% url 'notes:index' %}">
            {% comment %} {% csrf_token %} {% endcomment %}
            <input type="search" placehoder="Search Notes" aria-label="Search" name="search_query">
            <button>Search</button>
        </form>
    </li>
{% endblock nav_list %}

{% block content %}
    <h1 class="title">{{ title }}</h1>
    <h1 class="title">
        {% for page in page_count_range %}
        <a href=".?p={{ page  }}">{{ page }}</a>
        {% endfor %}
    </h1>


    <section class="section-notes">
        {% for object in object_list %} 
            {% include 'notes/components/note.html' with note=object %}
        {% endfor %}
    </section>

    <h1 class="title">
        {% for page in page_count_range %}
        <a href=".?p={{ page  }}">{{ page }}</a>
        {% endfor %}
    </h1>
{% endblock content %}
