{% extends 'notes/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'notes/css/note_list.css' %}" />
{% endblock head %} 

{% block nav_list %}
    <li class="nav__item"><a class="nav__link" href="{% url 'notes:index' %}">All</a></li>
    <li class="nav__item"><a class="nav__link" href="{% url 'notes:my' %}">My</a></li>
    <li class="nav__item">
        <a class="nav__link" href="#">
            Subjects
            <i class="icon ion-md-arrow-dropdown"></i>
        </a>
        <ul class="nav__sub-menu">
            {% for category in categories %}
                {% if not category.parent %}
                    <li class="nav__item nav__item--sub">
                        <a class="nav__link" href="{% url 'notes:category' category.get_full_path %}">
                            {{ category.name }}
                            {% if category.children.all %}
                                <i class="icon ion-md-arrow-dropdown"></i>
                            {% endif %}
                        </a>
                        {% if category.children.all %}
                            <ul class="nav__sub-menu">
                                {% include "notes/menu.html" with categories=category.children.all %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endblock nav_list %}

{% block content %}
    <h1 class="title">{{ title }}</h1>
    
    <section class="section-notes">
        {% for object in object_list %} 
            {% include 'notes/components/note.html' with note=object %}
        {% endfor %}
    </section>
{% endblock content %}
