{% extends 'notes/base.html' %}

{% load markdownify %}
{% load static %}
{% load mptt_tags %} 


{% block head %}
    <link rel="stylesheet" href="{% static 'notes/css/comment_list.css' %}" />
{% endblock head %} 

{% block nav_list %}
    <li class="nav__item"><a class="nav__link" href="{% url 'notes:index' %}">All</a></li>
    {% if user.is_authenticated %}
    <li class="nav__item"><a class="nav__link" href="{% url 'notes:my' %}">My</a></li>
    {% endif %}
    <li class="nav__item">
        <a class="nav__link" href="#">
            Subjects
            <i class="icon ion-md-arrow-dropdown"></i>
        </a>
        <ul class="nav__sub-menu">
            {% recursetree categories %}
                <li class="nav__item nav__item--sub">
                    <a class="nav__link" href="{% url 'notes:category' node.full_path %}">
                        {{ node.name }}
                        {% if not node.is_leaf_node %}
                            <i class="icon ion-md-arrow-dropdown"></i>
                        {% endif %}
                    </a>
                    {% if not node.is_leaf_node %}
                        <ul class="nav__sub-menu">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li> 
            {% endrecursetree %}
        </ul>
    </li>
{% endblock nav_list %}

{% block content %}
    <h1>{{ note.title }}</h1>

    <h2>Author: {{ note.author.username }}</h2>
    <a href="{% url 'notes:edit' note.uuid %}">edit</a>

    <hr />

    <h3>Comments:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <ul>
            {{ create_comment_form.as_ul }}
        </ul>
        <button>Post Comment</button>
    </form>

    {% for comment in note.comment_set.all %}
        <p>{{ comment.content }}</p>
        <hr />
    {% endfor %}
{% endblock content %}
