{% extends 'notes/base.html' %}

{% load markdownify %}

{% block content %}
<h1 class="title">{{ note.title }}</h1>

<h2 class="title-2">By {{ note.author.username }}</h2>
<!-- TODO: Add link to user -->

<a href="{% url 'notes:edit' note.uuid %}">edit</a>

<div class="note-content">
    {{'Some *test* [link](#)'|markdownify }}

    <br>
    {% autoescape off %}
    {{ note.content|markdownify|safe }}
    {% endautoescape %}
</div>


<h3>Comments:</h3>
<form action="" method="POST">
    {% csrf_token %}
    <ul>
        {{ create_comment_form.as_ul }}
    </ul>
    <button>Post Comment</button>
</form>

{% for comment in note.comment_set.all %}
<p>{{ comment.content }}</p>
<hr />
{% endfor %} {% endblock content %}
