{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register // Notewell</title>
        
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        
        <link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}" />
    </head>

    <body>
        <form method="post">
            {% csrf_token %}

            <div class="input-field username">
                <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id"> Username</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="-1" role="button">person</i>
                    <!-- <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id" /> -->
                    {{ form.username }}
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">*Required</div>
                </div>
            </div>

            <div class="input-field email">
                <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Email</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="-1" role="button">email</i>
                    {{ form.email }}
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true"><!--Please enter valid email adress--></div>
                </div>
            </div>

            <div class="input-field password1">
                <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Password</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="-1" role="button">vpn_key</i>
                    {{ form.password1 }}
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">Password must be at least 8 characters</div>
                </div>
            </div>

            <div class="input-field password2">
                <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id">Repeat password</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="-1" role="button">vpn_key</i>
                    {{ form.password2 }}
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">Password must be at least 8 characters</div>
                </div>
            </div>

            <button class="mdc-button mdc-button--raised submit">
                <span class="mdc-button__label">Sign up</span>
            </button>

            <p class="mdc-typography--subtitle1 suggestion">Already have an account? <a href="{% url 'accounts:login' %}" class="suggestion__link">Log in!</a></p>
        </form>

        <script src="{% static 'accounts/js/auth.js' %}"></script>
    </body>
</html>
