*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Lato", sans-serif; */
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

:root {
    /* change primary color */
    /* --mdc-theme-primary: green */
}

.input-field {
    width: 100%;
}
.input-field .mdc-text-field {
    width: 100%;
}

form {
    /* XXX Maybe change form width */
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.mdc-text-field {
    margin-top: 0.7rem;
}

.submit {
    align-self: center;
    margin: 10px auto;
}

.suggestion {
    align-self: center;
}

.suggestion__link {
    color: #466a8c;
    text-decoration: none;
    transition: color 0.3s;
}

.suggestion__link:hover {
    color: #074973;
}

.error {
    color: var(--mdc-theme-error) !important;
}

.error-message {
    margin-bottom: 10px;    
}
