<div class="mdc-card mdc-typography note-card" tabindex="0">
    <a class="mdc-card__primary-action note-card__action" href="{{ note.get_absolute_url }}">
        <!-- XXX maybe add a small menu for editing notes and deleting them -->
        <h2 class="note-title mdc-typography--headline2">{{ note.title }}</h2>
        <div class="note-extra-info">
            <h3 class="author mdc-typography--headline5">By {{ note.author.username }}</h3>
            <h3 class="date mdc-typography--headline5">Created on {{ note.creation_date }}</h3>
        </div>
        <div class="mdc-card__ripple"></div>
    </a>
</div>