<a href="{{ note.get_absolute_url }}" class="note">
    <h2>{{ note.title }}</h2>
    <div class="note-extra-info">
        <h3 class="author">By {{ note.author.username }}</h3>
        <h3 class="date">Created on {{ note.creation_date }}</h3>
    </div>
    <div class="note-tags">
        <div class="tag">This is a tag!</div>
        <div class="tag">test</div>
        <div class="tag">calculus</div>
        <div class="tag">Hello</div>
    </div>
</a>

<!-- <a href="">{{ note.title }}</a> by {{ note.author.username }}123 -->
