*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html {
    font-size: 0.625em; /* to make it easier to calculate fractions, maybe bad idea? */
}

/* colors */
:root {
    --black-0: #000;
    --black-1: #222;
    --white-0: #f5f5f5;
    --white-1: #eee;
    --blue-0: #011c40;
    --blue-1: #074973;
    --blue-2: #466a8c;
    --blue-3: #91c9fa;
    --blue-4: #658496;
    --red-0: #b00020;
}

[theme="light"] {
    --solid-bg: linear-gradient(135deg, var(--blue-1) 60%, var(--blue-0));
    --icons-fg: var(--white-1);
    --text-primary: var(--black-0);
    --text-secondary: var(--black-1);
    --link-fg: var(--white-0);
    --link-fg--hover: var(--blue-3);
    --link-bg: var(--blue-0);
    --link-bg--hover: var(--blue-1);
    --dropdown-fg: var(--blue-2);
    --dropdown-fg-outline: var(--blue-4);
}

body {
    overflow-x: hidden;
    font-weight: 300;
}

.header {
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--solid-bg);
}

.header__container {
    width: 100%;
    max-width: 50%;
    /* max-width: 117rem; */
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav__hamburger {
    color: var(--icons-fg);
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    /* border-bottom: 5px solid rgba(255, 355, 255, 0.1); */
}

.nav__list {
    display: flex;
    list-style-type: none;
    width: 100%;
    align-items: center;
}

.nav__item {
    position: relative;
    line-height: 8rem;
}

.nav__item--move-right {
    margin: auto 0 auto auto;
    align-self: 10;
}

.nav__item--sub {
    line-height: 4rem;
}

.nav__link {
    text-decoration: none;
    display: block;
    color: var(--link-fg);
    /* color: #40362e; */

    font-weight: 400;

    padding: 0 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav__link:hover {
    color: var(--link-fg--hover);
    /* color: #d2d5fa; */
    /* color: #cafae9; */
}

.nav__sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 4px solid var(--dropdown-fg-outline);
    /* background-color: #3b5670; */
    background-color: var(--dropdown-fg);

    list-style: none;

    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.65s ease; */
    border-radius: 0 0 1rem 1rem;
}

.nav__sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: var(--dropdown-fg-outline);
}

.nav__sub-menu .nav__sub-menu::before {
    top: 0.9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: var(--dropdown-fg-outline);
}

.nav__sub-menu .nav__sub-menu {
    border-top-right-radius: 1rem;
    border: none;
    border-left: 3px solid var(--dropdown-fg-outline);
    top: 0;
    left: 160%;
}

.nav__item:hover > .nav__sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;
}

.nav__item--sub:hover > .nav__sub-menu {
    top: 0;
    left: 100%;
}

.nav__logo {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    /* z-index: 1500; */
    height: 4rem;
}

.title {
    text-align: center;
    /* text-transform: capitalize; */
    font-size: 4rem;
    padding: 3rem 0;
}

.title-2 {
    text-align: center;
    font-size: 2rem;
    /* padding: 1rem 0; */
}

.search-form {
    text-align: center;
}

.search-form__search-box {
    width: 40%;
    margin: 0 5% 40px 5%;
}

.note-content {
    width: 50%;
    border: 1px solid grey;
    font-size: 2rem;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 10px auto;
}

.btns {
    width: 50%;
    margin: 0 auto;
}

.btns .btn {
    display: inline;
}

.btns .btn a {
    color: inherit;
    transition: color 0.3s;
    text-decoration: none;
}

.btns .btn a:hover {
    color: #3c89d2;
}

.create-note-btn {
    /* TODO change colors of button */
    display: block;
    color: white;
    padding: 1rem 2rem;
    font-size: 3rem;
    background-color: #317dc5;
    transition: 0.3s background-color;
    border: none;
    border-radius: 2rem;
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
    width: 30rem;
    text-decoration: none;
}

.create-note-btn:hover {
    background-color: #085a8d;
}


.create-note-form  {
    padding-top: 3rem;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

.create-note-form input {
    margin: 1rem 0;
    width: 100%;
    resize: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid black;
    height: 3rem;
}

.create-note-form button {
     /* TODO change colors of button */
     display: block;
     color: white;
     padding: 1rem 2rem;
     font-size: 1.5rem;
     background-color: #317dc5;
     transition: 0.3s background-color;
     border: none;
     border-radius: 2rem;
     margin: 20px auto;
     cursor: pointer;
     text-align: center;
     width: 10rem;
     text-decoration: none;
}

.create-note-form button:hover {
    background-color: #085a8d;
}

.delete-btns {
    display: flex;
    width: 50%; 
    margin: 0 auto;
}

.delete-note-btn {
    color: white;
    padding: 1rem 2rem;
    font-size: 3rem;
    transition: 0.3s background-color;
    border: none;
    border-radius: 2rem;
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
    width: 15rem;
    text-decoration: none;
}

.btn-success {
    background-color: var(--red-0);

}

.btn-fail {
    background-color: #317dc5;

}

@media screen and (max-width: 680px) {
    .search-form__search-box {
        width: 90%;
    }
    .delete-btns {
        flex-direction: column;
    }
    .delete-btns .delete-note-btn {
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 850px) {
    .nav__list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background: var(--dropdown-fg);
        z-index: 1000;
        overflow-y: scroll;
    }

    .nav__item {
        line-height: 6rem;
    }

    .nav__sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: var(--dropdown-fg-outline);
        margin-left: 1rem;
        max-height: 0;
        border-radius: 0;
    }

    .nav__sub-menu::before {
        display: none;
    }

    .nav__item:hover > .nav__sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    .nav__item--move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .nav__hamburger {
        display: block;
    }

    .nav__hamburger-close {
        display: none;
    }

    .nav.active .nav__hamburger-close {
        display: block;
    }

    .nav.active .nav__hamburger-open {
        display: none;
    }

    .nav.active .nav__list {
        display: flex;
    }
    

}

.footer,
.footer__wrapper {
    width: 100%;
    padding: 2.08em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__wrapper::before {
    content: "";
    display: block;
    width: 25.6em;
    height: 0.4em;
    background: var(--solid-bg);
}

.footer__row {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0.528em;
}

.footer__text {
    font-size: 1.6rem;
    color: var(--text-primary);
    margin: 0 0.75rem;
}

.footer__text--bold {
    color: var(--text-secondary);
    font-weight: 400;
}

.footer__text--link {
    color: var(--link-bg);
}

.footer__text--link:hover {
    color: var(--link-bg--hover);
}


