*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
    font-weight: 300;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #074973 60%, #011c40);
}

.header__container {
    width: 100%;
    max-width: 50%;
    /* max-width: 117rem; */
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav__hamburger {
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    /* border-bottom: 5px solid rgba(255, 355, 255, 0.1); */
}

.nav__list {
    display: flex;
    list-style-type: none;
    width: 100%;
    align-items: center;
}

.nav__item {
    position: relative;
    line-height: 8rem;
}

.nav__item--move-right {
    margin: auto 0 auto auto;
    align-self: 10;
}

.nav__item--sub {
    line-height: 4rem;
}

.nav__link {
    text-decoration: none;
    display: block;
    color: #f5f5f5;
    /* color: #40362e; */

    font-weight: 400;

    padding: 0 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #91c9fa;
    /* color: #d2d5fa; */
    /* color: #cafae9; */
}

.nav__sub-menu {
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 4px solid #658496;
    /* background-color: #3b5670; */
    background-color: #466a8c;

    list-style: none;

    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.65s ease; */
    border-radius: 0 0 1rem 1rem;
}

.nav__sub-menu::before {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #658496;
}

.nav__sub-menu .nav__sub-menu::before {
    top: 0.9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: #658496;
}

.nav__sub-menu .nav__sub-menu {
    border-top-right-radius: 1rem;
    border: none;
    border-left: 3px solid #658496;
    top: 0;
    left: 160%;
}

.nav__item:hover > .nav__sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;
}

.nav__item--sub:hover > .nav__sub-menu {
    top: 0;
    left: 100%;
}

.title {
    text-align: center;
    text-transform: capitalize;
    font-size: 4rem;
    padding: 3rem 0;
}

@media screen and (max-width: 850px) {
    .nav__list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background: #466a8c;
        z-index: 1000;
        overflow-y: scroll;
    }

    .nav__item {
        line-height: 6rem;
    }

    .nav__sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: #658496;
        margin-left: 1rem;
        max-height: 0;
        border-radius: 0;
    }

    .nav__sub-menu::before {
        display: none;
    }

    .nav__item:hover > .nav__sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    .nav__item--move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .nav__hamburger  {
        display: block;
    }

    .nav__hamburger-close {
        display: none;
    }

    .nav.active .nav__hamburger-close {
        display: block;
    }

    .nav.active .nav__hamburger-open {
        display: none;
    }

    .nav.active .nav__list {
        display: flex;
    }
}

.footer,
.footer__wrapper {
    width: 100%;
    padding: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__wrapper::before {
    content: '';
    display: block;
    width: 16em;
    height: 0.25em;
    background-color: #074973;
}

.footer__row {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0.33em;
}

.footer__text {
    font-size: 1rem;
    color: #222;
    margin: 0 0.5rem;
}

.footer__text--bold {
    color: #000;
    font-weight: 400;
}

.footer__text--link {
    color: #011c40;
}
